psycopg2-binary==2.8.4
requests==2.23.0
pyspark==2.4.5
numpy==1.17.2
simplejson==3.16.0
pypistats==0.11.0
requirements-parser==0.2.0
# GitHub Action python does not have this default package
datetime==4.3
condastats==0.1.3
pytest==4.6.9
coverage==5.1
pytest-cov==2.8.1