{% extends "webservice/base.html" %}

{% block title %}
    About
{% endblock %}

{% block body %}
<section class="section">
  <div class="container">
      <div class="content is-medium">
          <h2>About</h2>
          <div style="width: 100%; height: 500px; padding: 200px 0 100px 0;">
              <a name="pkgpkr"></a>
              <div style="float: left; width: 50%;">
                  <h3>How Do We Calculate Our PkgPkr© Score?</h3>
                  <p>Modern applications rely heavily on OSS packages. So how do you find
                    good ones? Search engines only know what you tell them, and humans
                    can't keep track of the millions of OSS packages available.</p>
                  <p>Our approach is to instead look at the dependencies in your
                    application. We feed these to a machine learning algorithm, which
                    recommends packages that are tailored to your specific application.</p>
              </div>
              <div style="float: left; width: 50%;">
                  <img src="/static/images/happiness.jpg" />
              </div>
          </div>
          <div style="width: 100%; height: 500px; padding: 200px 0 100px 0;">
              <a name="used-together"></a>
              <div style="float: left; width: 50%;">
                  <img src="/static/images/used-together.svg" style="height: 400px;" />
              </div>
              <div style="float: left; width: 50%;">
                  <h3>What Is Used-Together Score?</h3>
                  <p>Modern applications rely heavily on OSS packages. So how do you find
                    good ones? Search engines only know what you tell them, and humans
                    can't keep track of the millions of OSS packages available.</p>
                  <p>Our approach is to instead look at the dependencies in your
                    application. We feed these to a machine learning algorithm, which
                    recommends packages that are tailored to your specific application.</p>
              </div>
          </div>
          <div style="width: 100%; height: 500px; padding: 200px 0 100px 0;">
              <a name="collaborative-filtering"></a>
              <div style="float: left; width: 50%;">
                  <h3>What Is Collaborative Filtering Score?</h3>
                  <p>Modern applications rely heavily on OSS packages. So how do you find
                    good ones? Search engines only know what you tell them, and humans
                    can't keep track of the millions of OSS packages available.</p>
                  <p>Our approach is to instead look at the dependencies in your
                    application. We feed these to a machine learning algorithm, which
                    recommends packages that are tailored to your specific application.</p>
              </div>
              <div style="float: left; width: 50%;">
                  <img src="/static/images/used-together.svg" style="height: 400px;" />
              </div>
          </div>
          <div style="width: 100%; height: 500px; padding: 200px 0 100px 0;">
              <a name="percent-change-trending"></a>
              <div style="float: left; width: 50%;">
                  <img src="/static/images/used-together.svg" style="height: 400px;" />
              </div>
              <div style="float: left; width: 50%;">
                  <h3>What Is Percent Change Trending Score?</h3>
                  <p>Modern applications rely heavily on OSS packages. So how do you find
                    good ones? Search engines only know what you tell them, and humans
                    can't keep track of the millions of OSS packages available.</p>
                  <p>Our approach is to instead look at the dependencies in your
                    application. We feed these to a machine learning algorithm, which
                    recommends packages that are tailored to your specific application.</p>
              </div>
          </div>
          <div style="width: 100%; height: 500px; padding: 200px 0 100px 0;">
              <a name="absolute-change-trending"></a>
              <div style="float: left; width: 50%;">
                  <h3>What Is Absolute Change Trending Score?</h3>
                  <p>Modern applications rely heavily on OSS packages. So how do you find
                    good ones? Search engines only know what you tell them, and humans
                    can't keep track of the millions of OSS packages available.</p>
                  <p>Our approach is to instead look at the dependencies in your
                    application. We feed these to a machine learning algorithm, which
                    recommends packages that are tailored to your specific application.</p>
              </div>
              <div style="float: left; width: 50%;">
                  <img src="/static/images/used-together.svg" style="height: 400px;" />
              </div>
          </div>
      </div>
    </div>
</<section>
</section>
<section class="section" style="padding: 200px 0 0 0;">
  <div class="container has-text-centered">
    <div class="content is-medium">
      <h2>
        References
      </h2>
      <br>
      <h3>
        Reference A
      </h3>
      <p>
        Good packages aren't just popular today, but tomorrow as well.
      </p>
      <h3>
        Reference B
      </h3>
      <p>
        Good packages play nicely with the packages you already use.
      </p>
      <h3>
        Reference C
      </h3>
      <p>
        Good packages don't duplicate functionality in other packages.
      </p>
      <h3>
        Reference D
      </h3>
      <p>
        Good packages are often the ones your company already uses.
      </p>
      <h3>
        Reference E
      </h3>
      <p>
        Good packages are the needles in a haystack of millions of packages.
      </p>
    </div>
  </div>
</section>
<section class="section" style="padding: 200px 0 0 0;">
  <div class="container has-text-centered">
    <div class="content is-medium">
      <h3>
        Special Thanks to
      </h3>
      <br>
      <p>
        Icons courtesy of <a href="https://fontawesome.com/license" target="_blank">Font Awesome</a>
      </p>
      <br>
      <p>
        Animation courtesy of <a href="https://loading.io/license/" target="_blank">Loading.io</a>
      </p>
    </div>
  </div>
</section>
{% endblock %}
