{% extends "webservice/base.html" %}

{% block title %}
    How It Works
{% endblock %}

{% block body %}
<section class="section">
  <div class="container">
      <div class="content is-medium">
        <h2 id="home-title">How It Works</h2>
          <div class="about-main-div">
            <div class="about-sub-div-left">
              <div class="testtest">
                  <img class="about-img" src="/static/images/how-it-works/package-image.jpg" />
              </div>
            </div>
            <div class="about-sub-div-right">
                <p>
                  Modern applications rely heavily on Open-Source-Software packages.  But how do you find the good ones?  Search engines only know what you ask them, and humans can't follow the millions of packages available.  Package Picker is here to help.
                </p>
                <p>
                  Package Picker looks at the dependencies in your application and feeds these into a machine learning algorithm, which recommends packages that are tailored to your specific application.
                </p>
            </div>
          </div>
          <div class="about-main-div">
              <a name="pkgpkr"></a>
              <div class="about-sub-div-left">
                  <h3>How Do We Calculate the Package Picker Score?</h3>
                  <p>The Package Picker score is calculated by taking into account several metrics.  It uses a weighted average of four key scores: Used-together score, collaborative-filtering score, Percent change trending score, absolute change trending score.  Each one of these scores is defined on a scale of 1 to 10 with 10 being the best.</p>
              </div>
              <div class="about-sub-div-right">
                  <img src="/static/images/how-it-works/overall.png" />
              </div>
          </div>
          <div class="about-main-div">
              <a name="used-together"></a>
              <div class="about-sub-div-left">
                  <img class="about-img" src="/static/images/how-it-works/used-together.png"/>
              </div>
              <div class="about-sub-div-right">
                  <h3>What is the Used-Together Score?</h3>
                  <p>It is how often packages appear in the same dependency list. e.g. in Javascript projects, this would be how often two packages appear in the same package.json file.  </p>

              </div>
          </div>
          <div class="about-main-div">
              <a name="collaborative-filtering"></a>
              <div class="about-sub-div-left">
                  <h3>What is the Collaborative Filtering Score?</h3>
                  <p>This is the <i>similarity</i> score.  Given you use Package A, this score calculates the probability that you will like and use Package B.</p>
              </div>
              <div class="about-sub-div-right">
                  <img class="about-img" src="/static/images/how-it-works/collaborative-filtering.png" />
              </div>
          </div>
          <div class="about-main-div">
              <a name="percent-change-trending"></a>
              <div class="about-sub-div-left">
                  <img class="about-img" src="/static/images/how-it-works/absolute-change.png" />
              </div>
              <div class="about-sub-div-right">
                  <h3>What is the Absolute Change Trending Score?</h3>
                  <p>This score captures how much a package has increases in use since this time last year.  This score takes difference between the download count of the package today and the download count of the package one year ago in the absolute count.  Then this difference is compared to all the other packages in the database and fitted to a bell-curve distribution.  Think of this score as the popularity-contest score, the packages with the most increase in downloads since this time last year will be rewards by this score.</p>
              </div>
          </div>
          <div class="about-main-div">
              <a name="absolute-change-trending"></a>
              <div class="about-sub-div-left">
                  <h3>What is the Relative Change Trending Score?</h3>
                  <p>This score is similar to the Absolute Change Trending Score, but here it compares the package in terms of percent growth.  It measures the percentage growth of this package.  It takes the number of downloads today divided by the number of downloads a year ago.  Then this difference is compared to all the other packages in the database and fitted to a bell-curve distribution.  Think of this score as the <i>niche</i> popularity-contest score e.g. a small bio-medical software package that has gained 1,000% growth in use since Coronavirus won't be overshadowed, by some common StringUtils package.  This allows more niche packages to get the recognition they deserve.</p>
              </div>
              <div class="about-sub-div-right">
                  <img class="about-img" src="/static/images/how-it-works/relative-change.png" />
              </div>
          </div>
          <div class="about-main-div">
            <div class="about-sub-div-left">
              <img class="about-img" src="/static/images/how-it-works/legal.jpg" />
            </div>
            <div class="about-sub-div-right">
              <h3>Legal Disclaimer</h3>
              <p>
                Don't sue us, yo.
              </p>
            </div>
          </div>
      </div>
    </div>
</section>
<section id="thanks-to" class="section">
  <div class="container has-text-centered">
    <div class="content is-medium">
      <h3>
        Special Thanks to
      </h3>
      <br/>
      <p>
        Harvard Extension School
      </p>
      <br/>
      <p>
        Bell curve photo credit <a href="https://www.thoughtco.com/introduction-to-the-bell-curve-3126337" target="_blank">Thoughtco</a>
      </p>
      <br/>
      <p>
        Icons courtesy of <a href="https://fontawesome.com/license" target="_blank">Font Awesome</a>
      </p>
      <br/>
      <p>
        Animation courtesy of <a href="https://loading.io/license/" target="_blank">Loading.io</a>
      </p>
      <br/>
      <p>
        Blue package image courtesy of <a href="https://www.pexels.com/photo/blue-gift-box-with-blue-ribbon-675970/" target="_blank">Bill Oxford</a>
      </p>
      <br/>
      <p>
        Legal photo courtesy of <a href="https://unsplash.com/photos/OXGhu60NwxU" target="_blank">Skitterphoto</a>
      </p>
      <br/>
      <br/>
    </div>
  </div>
</section>
{% endblock %}
