{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="{% static 'fontawesome/css/all.min.css' %}" type="text/css" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3ZJTB9DHQG"></script>
    <script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-3ZJTB9DHQG');
		</script>
  </head>
  <body>
    <section class="hero is-medium is-primary is-bold">
      <div class="hero-body" style="padding-top: 4rem; padding-bottom: 2rem;">
        <div class="container has-text-centered">
          <a href="/">
            <h1 class="title is-1">
              <i class="fas fa-box"></i>
              Package Picker
            </h1>
          </a>
          <h2 class="subtitle">
            Better packages, faster
          </h2>
        </div>
        <nav class="container" role="navigation" aria-label="main navigation">
          <div class="navbar">
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" href="{% url 'index' %}">
                <i class="fas fa-home"></i>
                <p class="text-icon">Home</p>
              </a>

              <a class="navbar-item" href="{% url 'about' %}">
                <i class="fas fa-question"></i>
                <p class="text-icon">About</p>
              </a>

              {% if request.session.github_token %}
              <a class="navbar-item" href="{% url 'repositories' %}">
                <i class="fas fa-list"></i>
                <p class="text-icon">My Repositories</p>
              </a>
              {% endif %}

            </div>

            <div class="navbar-end">
              {% if request.session.github_token %}
                {%  if request.session.github_info.name %}
                <a class="navbar-item" style="pointer-events: none;">
                  Welcome, {{ request.session.github_info.name }}
                </a>
                {%  else %}
                <a class="navbar-item" style="pointer-events: none;">
                  Welcome {{ request.session.github_info.login }}
                </a>
                {% endif %}
                <img src="{{ request.session.github_info.avatar_url }}" alt="Profile" style="height: 48px; width: 40px; padding: 8px 0 0 0">
              {% endif %}
              <div class="navbar-item">
                {% if not request.session.github_token %}
                <div class="buttons">
                  <a class="button is-linkl" href="{% url 'login' %}">
                    <i class="fas fa-sign-in-alt"></i>
                    <strong><p class="text-icon">Log in</p></strong>
                  </a>
                </div>
                {% endif %}
                {% if request.session.github_token %}
                <div class="buttons">
                  <a class="button is-light" href="{% url 'logout' %}">
                    <i class="fas fa-sign-in-alt"></i>
                    <strong><p class="text-icon">Logout</p></strong>
                  </a>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </div>
    </section>
    {% block body %}
    {% endblock %}
    <footer class="footer has-background-black has-text-light">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <p>
              Copyright &copy; 2020
            </p>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <p>
              Icons courtesy of <a href="https://fontawesome.com/license" target="_blank">Font Awesome</a>
            </p>
          </div>
      </div>
    </footer>
  <script type='text/javascript' src="{% static 'main.js' %}"></script>
  </body>
</html>
