{% extends "webservice/base.html" %}

{% block title %}
    Package Picker
{% endblock %}

{% block body %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column"></div>
      <div class="column is-half">
        <form id="demo" method="POST" action={% url 'recommendations' demo_input_repo_name %}>
          {% csrf_token %}
          <h1>Find packages that work well with&hellip;</h1>
          <input name="language" type="hidden" value="javascript"/>
          <input name="dependencies" type="text" autocomplete="off" onchange="fetchRecommendations(this.value);" placeholder="react@16"/>
          <div class="results">
            <!-- Automatically populated with recommendations -->
          </div>
        </form>
      </div>
      <div class="column"></div>
    </div>
  </div>
</section>
<script>
  $(document).ready(function() {
    var input = document.getElementsByName("dependencies")[0];
    var opts = {
      minLength: 1,
      limit:false
    }
    var lookup = new TypeAhead(input, [], opts);
    var xhr;

    lookup.getCandidates = function (callback) {
      if (xhr) {
        xhr.abort();
      }

      xhr = $.getJSON(`/api/packages?q=${this.query}`, function (response) {
        callback(response.packages);
      });
    }
  });

  function fetchRecommendations(package) {
    $.ajax({
      type: 'POST',
      url: '/api/recommendations',
      contentType: 'application/json',
      data: `{"language": "javascript", "dependencies": ["${package}"], "max_recommendations": 10}`,
      success: displayRecommendations
    });
  }

  function displayRecommendations(result, status, xhr) {
    var results = document.getElementsByClassName("results")[0];
    
    var outputHtml = "<ul>";
    for (r of result.recommended_dependencies) {
      outputHtml += `<li>${r.recommendedPackage}</li>`;
    }
    outputHtml += "<li><input type='submit' value='See all results'/></li>";
    outputHtml += "</ul>";
    
    results.innerHTML = outputHtml;
  }
</script>
{% endblock %}
