{% extends "webservice/base.html" %}

{% block title %}
    Manual Input
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <div class="content is-medium">
                <h2>MANUAL DEPENDENCIES INPUT</h2>
                <br>

                <form method="POST" action={% url 'manual-input' %}>
                    {% csrf_token %}
                    <div class="field">
                        <label class="label">Write/Paste Dependencies (One per line)</label>
                        <div class="control">
                                <textarea id='manual-input' class="textarea" name="dependencies"
                                          placeholder="Dependency 1&#x0a;Dependency 2&#x0a;Dependency 3&#x0a;..."
                                          rows="10"></textarea>
                        </div>
                    </div>


                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link">Submit</button>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </section>


{% endblock %}
