{% extends "webservice/base.html" %}

{% block title %}
    Recommendations
{% endblock %}

{% block body %}
<section class="section">
  <div class="container">
    <div class="content is-medium">
      <h2>RECOMMENDATIONS for `{{ repository_name }}`</h2>
      <br>
      <table>
        <tr>
          <td style="width:200px;">Selected Category: </td>
          <td style="width:80px;"><input type="text" id="categoryName" name="categoryName" disabled style="border: none; background-color: white; font-size:20px"></td>
          <td><button id="categoryClear" class="button is-light" onclick="categoryClear()" style="visibility:hidden;">Clear</button></td>
        </tr>
      </table>
      <div class="table-container">
        <table class="display-data-tables">
          <thead>
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Downloads</th>
              <th>Rate</th>
              <th style="min-width: 150px;">Version Date</th>
            </tr>
          </thead>
          <tbody>
            {% for recommendation in recommendations %}
              <tr>
                <td><a target="_blank" href="{{ recommendation.url }}">{{ recommendation.name }}</td>
                <td>
                  {% for keyword in recommendation.keywords %}
                  <div class="buttons" style="margin-bottom: 0; display:inline-block;">
                    <button class="button is-info is-light is-small is-hovered" onclick="categoryClick('{{ keyword }}')">{{ keyword }}</button>
                  </div>
                  {% endfor %}
                </td>
                <td>{{ recommendation.average_downloads }}</td>
                <td>{{ recommendation.rate }}</td>
                <td>{{ recommendation.date }}</td>
              </tr>
            {% endfor %}
          </<tbody>
        </table>
      </div>
      <div style="width:250px; margin: auto;">
        <p class="control has-icons-right">
          <input id="recommendationFilter" class="input is-small" type="text" placeholder="Search">
          <span class="icon is-small is-right">
            <i class="fas fa-search"></i>
          </span>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
