{% extends "webservice/base.html" %}

{% load static %}

{% block title %}
    Recommendations
{% endblock %}

{% block body %}
    <div class="pageloader">
        <img src="/static/images/loading.gif" />
        <img src="/static/images/retrieving.gif" />
        <img src="/static/images/recommendations.gif" />
    </div>
    <section class="section">
        <div class="container">
            <div class="content is-medium">
                <h2>{{ language | title }} Package Recommendations for {{ repository_name }}</h2>
                {%  if branch_names %}
                <table id="branch-table">
                    <tr>
                        <td id="branch-header"><p>Branch: </p></td>
                        <td><div id="branch-dropdown" class="dropdown is-hoverable">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                                    <span>{{ current_branch }}</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    {% for branch_name in branch_names %}
                                        <a href="?branch={{ branch_name }}" class="dropdown-item">
                                            {{ branch_name }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                            </div>
                        </td>
                    </tr>
                </table>
                {% endif %}
                <table id="category-table">
                    <tr>
                        <td id="selected-category">Category:</td>
                        <td>
                            <div id="category-wrapper">
                                <div>
                                    <input type="text" id="category-name" name="category-name" disabled>
                                </div>
                                <div>
                                    <button id="category-clear" class="button is-light is-small" onclick="categoryClear()">Clear</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="recommendation-filter">
                    <p class="control has-icons-right">
                        <input id="recommendationFilter" class="input" type="text" placeholder="Search">
                        <span class="icon is-small is-right">
                            <i class="fas fa-search"></i>
                        </span>
                    </p>
                </div>
                <div id="recommend-table-container" class="table-container">
                    <table id="recommend-table" class="display-data-tables" style="width:100%">
                        <thead>
                        <tr>
                            <th>Package</th>
                            <th style="vertical-align: middle;">Recommendation</th>
                            <th>URL</th>
                            <th style="vertical-align: middle;">PkgPkr Score</th>
                            <th>Used-Together</th>
                            <th>Collaborative Filtering</th>
                            <th>Absolute Trend</th>
                            <th>Relative Trend</th>
                            <th style="vertical-align: middle;">Categories</th>
                            <th>Version Date</th>
                            <th style="vertical-align: middle;">Downloads</th>
                        </tr>
                        </thead>
                    </table>
                    <div id="scoreModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                          <header class="modal-card-head">
                            <p id="modalTitle" class="modal-card-title">PkgPkr Score Calculation</p>
                            <button id="modal-close" class="delete" aria-label="close"></button>
                          </header>
                          <section class="modal-card-body">
                            <div class="insert-here"></div>
                          </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(function(){
            var table = $('#recommend-table').DataTable({
                "bLengthChange": false,
                dom: 'tip',
                ajax: {
                    url: '{{ recommendation_url }}',
                    // error message
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Dependencies input you provided is not valid, please try it again.");
                        location.replace("/");
                    }
                },
                scroller: true,
                order: [[3, "desc"]],
                "autoWidth": false,
                "initComplete": function(settings, json) {
                    hideLoadingAnimation();
                    $('time.timeago').timeago();
                },
                "drawCallback": function(settings) {
                    $('time.timeago').timeago();
                },
                columnDefs : [
                    // Recommendation link
                    {
                        "targets": 1,
                        "render": function (data, type, row, meta) {
                            return '<div><div class="tooltip-date"><a target="package_details" href="' + row[2] + '">' + data + '</a>' +
                            '<span class="tooltiptext-date">Last published: <br>' +
                            '<time class="timeago" datetime="' + row[9] + '"></time></span></div>' +
                            '<div class="original-package"><p>Because you use ' + row[0] + '</p></div>'
                        },
                        "width": "10em"
                    },
                    // PkgPkr Score
                    {
                        "targets": 3,
                        "render": function (data, type, row, meta) {
                            return '<img class="pkgpkrscore_img" src="/static/images/' + data + '.png"><p class="pkgpkrscore_value">' + data + '</p>'
                        },
                        "width": "3em"
                    },
                    // Categories
                    {
                        "targets": 8,
                        "render": function (data, type, row, meta) {
                            if (!data) {
                                return '<i class="fas fa-ban" style="opacity:0.4;"></i>';
                            }

                            html_str = '<div class="buttons" style="margin-bottom: 0; display:inline-block;">';
                            for (var i = 0; i < data.length; ++i) {
                                html_str += '<button class="button is-info is-light is-small is-hovered" \
                                                     onclick="categoryClick(\'' + data[i] + '\')">' + data[i] + '</button>';
                            }
                            html_str += '</div>';
                            return html_str;
                        }
                    },
                    // Downloads
                    {
                        "targets": 10,
                        "render": function (data, type, row, meta) {
                            if (type == 'display') {
                                var suffixNum = numeral(data).format('0.0a').toString();
                                return suffixNum;
                            } else {
                                return data;
                            }
                        },
                        "width": "6em"
                    },
                    // Hide URL component score columns, and dates
                    {
                        "targets": [0, 2, 4, 5, 6, 7, 9],
                        "visible": false
                    }
                ]
            });

            $('#recommend-table tbody').on('click', 'img', function() {
                var data = table.row($(this).parents('tr')).data();
                $('.insert-here').html(
                     '<table class="table dtr-details" width="100%"><tbody><tr>' +
                     '<th class="pkgpkr_score_td">PkgPkr<br>Score <div class="tooltip"><i class="fas fa-question-circle" style="opacity:0.5;"></i>' +
                     '<span class="tooltiptext">The weighted average of all the score. ' +
                     '<a target="_blank" href="/about#pkgpkr">See more details</a></span></div></th>' +

                     '<th class="other_score_td">Used-Together<br>Score <div class="tooltip"><i class="fas fa-question-circle" style="opacity:0.5;"></i>' +
                     '<span class="tooltiptext">A score of 10 indicates that the packages are always used together. ' +
                     '<a target="_blank" href="/about#used-together">See more details</a></span></div></th>' +

                     '<th class="other_score_td">Collaborative Filtering<br>Score <div class="tooltip"><i class="fas fa-question-circle" style="opacity:0.5;"></i>' +
                     '<span class="tooltiptext">A score of 10 indicates the highest probability that if you will use this package too given your input package. ' +
                     '<a target="_blank" href="/about#collaborative-filtering">See more details</a></span></div></th>' +

                     '<th class="other_score_td">Absolute Trend<br>Score <div class="tooltip-left"><i class="fas fa-question-circle" style="opacity:0.5;"></i>' +
                     '<span class="tooltiptext-left">A score of 10 indicates this package has seen massive growth in terms of raw number of downloads. ' +
                     '<a target="_blank" href="/about#percent-change-trending">See more details</a></span></div></th>' +

                     '<th class="other_score_td">Relative Trend<br>Score <div class="tooltip-left"><i class="fas fa-question-circle" style="opacity:0.5;"></i>' +
                     '<span class="tooltiptext-left">A score of 10 indicates this package has seen massive growth in terms percent change. ' +
                     '<a target="_blank" href="/about#absolute-change-trending">See more details</a></span></div></th><tr>' +
                     '<td>' + '<img class="pkgpkr_score_img" src="/static/images/' + data[3] + '.png"></td>' +
                     '<td>' + '<img class="other_score_img" src="/static/images/' + data[6] + '.png"></td>' +
                     '<td>' + '<img class="other_score_img" src="/static/images/' + data[7] + '.png"></td>' +
                     '<td>' + '<img class="other_score_img" src="/static/images/' + data[4] + '.png"></td>' +
                     '<td>' + '<img class="other_score_img" src="/static/images/' + data[5] + '.png"></td>' +
                     '</tr></tbody></table>'
                );
                $('#scoreModal').modal('show');
            });

            $('#category-name').keyup(function() {
                table.column(8).search($(this).val()).draw();
            });

            $('#recommendationFilter').keyup(function() {
                table.search($(this).val()).draw();
            });
        });
    </script>
{% endblock %}
