{% extends "webservice/base.html" %}

{% block title %}
    My Repositories
{% endblock %}

{% block body %}
<section id="my-repositories" class="section">
  <div class="container">
    <div class="content is-medium">
      <h2>My Repositories</h2>
      <br>
      {% if not repos %}
        <p>You have no repositories with package.json</p>
      {% else %}
      <div class="table-container">
        <table id="repo-table" class="display-data-tables">
          <thead>
            <tr>
              <th>Name</th>
              <th>Last Updated Date</th>
            </tr>
          </thead>
          <tbody>
          {% for repo in repos %}
              <tr>
                <td><a href="{% url 'recommendations' repo.nameWithOwnerEscaped %} ">{{repo.nameWithOwner}}</a></td>
                <td>{{repo.date}}</td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
  </div>
</section>


{% endblock %}
