{% extends "webservice/base.html" %}

{% block title %}
    Package Picker
{% endblock %}

{% block body %}
    <h1>Welcome to Package Picker</h1>

    <table class="table">
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Downloads</th>
      <th>Rate</th>
      <th>Last Updated</th>
    </tr>
    {% for repo in repositories %}
      <tr>
        <td><a href="{% url 'recommendations' repo.name %}">{{repo.name}}</a></td>
        <td>{{repo.category}}</td>
        <td>{{repo.donwloads}}</td>
        <td>{{repo.rate}}</td>
        <td>{{repo.last_upd}}</td>
      </tr>
    {% empty %}
          <li>No repositories.</li>
    {% endfor %}
    </table>


{% endblock %}
