.text-icon {
  padding: 5px;
}

#selected-category {
  width: 200px;
}

#selected-category-input {
  width: 80px;
}

#categoryName {
  border: none;
  background-color: white;
  font-size:20px;
  color: #3273dc;
  font-weight: bold;
}

#categoryClear {
   visibility: hidden;
}

#version-date-header {
  min-width: 150px;
}

.recommendation-filter {
  width: 400px;
  margin: auto;
  padding-bottom: 15px;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: scroll;
}

.section {
  min-height: 100%;
  position: relative;
}


#manual-input {
  width: 50%;
}

.pkgpkrscore_value {
  display: none;
}

