.text-icon {
  padding: 5px;
}

#home-title {
  text-align: center;
  padding: 0 0 50px 0;
}

#recommendation-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

#recommendation-button {
  background-color: #00756A;
}

#recommendation-button:hover {
  opacity: 0.7;
}

#branch-table {
  margin-bottom: 0em !important;
}

#selected-category {
  width: 110px;
}


#category-wrapper {
  display: flex;
}

#category-table {
  float: left;
  width: 60%;
  margin-bottom: 0em !important;
}

#category-name {
  border: none;
  background-color: white;
  font-size:20px;
  color: #3273dc;
  font-weight: bold;
}

#category-clear {
   visibility: hidden;
}

.recommendation-filter {
  margin: auto;
  padding-bottom: 12px;
  width: 30%;
  float: right;
}

@media only screen and (max-width: 1420px) {
  #category-table {
    float: left;
    width: 100%;
    margin-bottom: 0em !important;
  }

  .recommendation-filter {
    margin: auto;
    padding: 12px 0 12px 14px;
    width: 30%;
    float: left;
  }
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: scroll;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for IE 10+ */
}

 /* Hide scrollbar for Safari & Chrome */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

.section {
  min-height: 600px;
  position: relative;
}

 #branch-header {
   width: 110px;
 }

 #recommend-table-container {
   overflow: unset !important;
 }

#recommend-table, #repo-table {
  width: 100%;
}

.language-logo {
  width: 60px;
}

.modal-card {
  top: 20%;
  width: 80%;
  max-width: 1280px;
  min-width: 860px;
}

#modalTitle {
  margin: 10px;
}

.original-package {
    font-size: 15px;
    color: #929292;
}

.pkgpkr_score_td {
  width: 16%;
  font-size: 18px;
}

.other_score_td {
  width: 11%;
  font-size: 18px;
}

.pkgpkr_score_img {
  width: 250px;
  height: unset !important;
  max-width: unset !important;
}

.other_score_img {
  width: 150px;
  height: unset !important;
  max-width: unset !important;
}

@media only screen and (max-width: 1280px) {
  .pkgpkr_score_img {
    width: 180px;
  }

  .other_score_img {
    width: 100px;
  }
}

.pkgpkrscore_img {
  cursor: pointer;
  width: 100px;
  box-shadow: 2px 2px 4px #000000;
}

.pkgpkrscore_img:hover {
  opacity: 0.7;
}

.pkgpkrscore_value {
  display: none;
}

.tooltip, .tooltip-left {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0 10px 10px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-weight: normal;
  font-size: 14px;
}

.tooltip .tooltiptext a {
  color: #cccccc;
  text-decoration: underline;
}

.tooltip .tooltiptext a:hover {
  color: #ffffff;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 17%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext, .tooltip-left:hover .tooltiptext-left, .tooltip-date:hover .tooltiptext-date {
  visibility: visible;
  opacity: 1;
}

.tooltip-left .tooltiptext-left {
  visibility: hidden;
  width: 350px;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0 10px 10px;
  position: absolute;
  z-index: 1;
  top: 125%;
  right: 50%;
  margin-right: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-weight: normal;
  font-size: 14px;
}

.tooltip .tooltiptext a,
.tooltip-left .tooltiptext-left a {
  color: #cccccc;
  text-decoration: underline;
}

.tooltip .tooltiptext a:hover,
.tooltip-left .tooltiptext-left a:hover {
  color: #ffffff;
}

.tooltip-left .tooltiptext-left::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 15.5%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltip-date {
  position: relative;
  display: inline-block;
}

.tooltip-date .tooltiptext-date {
  visibility: hidden;
  min-width: 120px;
  max-width: 100%;
  background-color: #555;
  color: #fff;
  border-radius: 6px;
  padding: 5px 10px 10px 10px;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-weight: normal;
  font-size: 14px;
}

.tooltip-date .tooltiptext-date::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 17%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.is-hovered:hover {
  opacity: 0.7;
}

.pageloader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageloader.hidden {
  animation: fadeOut 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation: fadeOut 0.5s;
  -webkit-animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
      opacity: 0;
      visibility: hidden;
  }
}

@-webkit-keyframes fadeOut {
  100% {
      opacity: 0;
      visibility: hidden;
  }
}

#main-banner {
  background-image: linear-gradient(141deg,#00756A 0,#00756A 51%,#00756A 100%) !important;
}

#main-footer {
  background-color: #044C6B !important;
}

#title-text-link {
  color: #f2f2f2;
}

.smaller-banner-z-index {
    position: relative;
    z-index: 10;
}

.smaller-banner {
  float: left;
  font-size: 35px !important;
  padding: 0 0 0 12px;
}

.hidden-banner {
  display: none;
}

.navbar-item {
  color: #f2f2f2 !important;
}

.navbar-item:focus {
  background-color: transparent !important;
}

#left-div, #right-div {
  float: left;
  padding: 0 10px 0 80px;
}

#pick-div-head {
  float: left;
  padding: 8px 10px 0 0;
}

#pick-select {
  float: left;
}

#pick-div-tail {
  float: left;
  padding: 8px 0 0 10px;
}

#pick-textarea {
  padding: 10px 0 10px 0;
  width: 85%;
}

#recommendation-button-div {
  float: left;
  width: 55%;
}

#recommendation-hyperlink-div {
  float: right;
  width: 45%;
  padding: 8px 0 0 0;
  font-size: 14px;
}

#recommendation-hyperlink-a {
  float: right;
}

#center-div {
  padding: 0 0 200px 0;
}


@media only screen and (max-width: 1420px) {
  #left-div {
    float: none;
    margin: auto;
    padding: 0 0 200px 0;
    width: 100%;
  }

  #right-div {
    float: none;
    margin: auto;
    padding: 0 0 50px 0;
    width: 60%;
  }

  #pick-textarea {
    padding: 10px 0 10px 0;
    width: 100%;
  }

  #recommendation-hyperlink-div {
    float: right;
    width: 45%;
    padding: 18px 0 0 0;
    font-size: 14px;
  }

  .bullet-div {
    margin: auto;
    padding: 10px 0 100px 0;
  }

  .bullet-img-div {
    float: left;
    padding: 0 0 0 160px;
  }

  .bullet-p-div {
    float: left;
    padding: 23px 0 0 20px;
  }

  .bullet-img {
    width: 80px;
  }
}

.bullet-div {
  padding: 10px 0 100px 0;
}

.bullet-img-div {
  float: left;
}

.bullet-p-div {
  float: left;
  padding: 23px 0 0 20px;
}

.bullet-img {
  width: 80px;
}

.about-main-div {
  width: 100%;
  height: 500px;
  min-width: 960px;
  display: flex;
  align-items: center;
  margin: 40px 0 0 0;
}

.about-sub-div-left {
  float: left;
  width: 50%;
  min-width: 450px;
  margin: 0 20px 0 0;
}

.about-sub-div-right {
  float: right;
  width: 50%;
  min-width: 450px;
  margin: 0 0 0 20px;
}

.about-img {
  max-height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#thanks-to {
  padding: 120px 0 170px 0;
}

table.dataTable tbody td {
  vertical-align: center;
}

.fa-external-link-alt {
  opacity: 0.8;
  font-size: 0.8em;
}
