name: Pipeline Tests
on:
  paths:
    - 'pipeline/scraper/**'
    - '.github/workflows/test_pipeline.yml'

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:11
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports: ['5432:5432']
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install psycopg2
          python -m pip install requests
          python -m pip install datetime
          python -m pip install pypistats
        if: steps.cache.outputs.cache-hit != 'true'

      - name: Python run script
        run: cd ./pipeline/scraper && python client.py
        env:
          DB_USER: postgres
          DB_PASSWORD: postgres
          DB_NAME: postgres
          DB_HOST: localhost
          TOKEN: ${{ secrets.TOKEN }}
